.api-details {
    display: flex;
    justify-content: space-evenly;

}

.api-detail {
    margin: 10px;
    width: 400px;
    height: 350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 10px 0;
}

.selected-api {
    text-align: left;
    padding: 15px;
}

.response {
    padding: 15px;
    height: 300px;
}






